fastapi[standard]
langgraph
langchain
langchain-google-genai
pydantic
python-dotenv
sqlalchemy
psycopg[binary]
supabase
pgvector
pymupdf
python-docx
spacy
rapidfuzz
dateparser
sentence-transformers
scikit-learn
pandas
numpy
pytest
